.containerCardAttention{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    text-decoration: none; 
}

.cardAttentionTitle{
    width: 45%;    
}

.cardAttentionTitle h4{
    color: black;
    font-family: Subtitles;
    font-size: 0.9rem;
}

.containerCardIconAttn img{    
    width: 6vh;
}